<!DOCTYPE html>
<html>
<head>
    <title>Home </title>
    <script>
        // Function to reload the page every 0.5 seconds
        
        function reloadPage() {
            let spanEl = document.querySelector('span');
            fetch('/reload') // Fetch the '/reload' endpoint
                .then(response => response.json())
                .then(data => {
                    // Use the received data as needed (e.g., update a variable, perform an action)
                    console.log('Received updated time_var:', data.time_var);
                    // Perform actions or update UI based on the received data
                    spanEl.textContent = `Time: ${data.time_var}`
                })
                .catch(error => {
                    console.error('Error fetching /reload:', error);
                });
        }

        // Call reloadPage function when the page loads or at a specific interval
        //window.onload = reloadPage; // Example: Call on page load
        // Or use setInterval to call reloadPage at intervals:
         setInterval(reloadPage, 500); // Call every 0.5 seconds
    
        
        /*
        function reloadPage() {
            setTimeout(function(){
                location.reload();
            }, 500); // 500 milliseconds = 0.5 seconds
        }

        // Call reloadPage function when the page loads
        window.onload = reloadPage;
        */
    </script>
</head>
<body>
    <!-- Your content goes here -->
    <h1>Hello, Oceanos NTUA! {{time_var}} <span></span></h1>
    <!-- Other HTML content -->

</body>
</html>
