<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Telemetry visualization</title>
        <script src="{{ url_for('static', filename='scripts/jquery-1.11.3.min.js') }}"></script>
        <link type="text/css" href="{{ url_for('static', filename='dist/roundslider.min.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='dist/roundslider.min.js') }}"></script>

        <script defer>
            const csvURL = "{{ url_for('static', filename='csv/serverdata_2023-12-17_16-11-34.csv') }}";  // Replace with your CSV file URL for Simulate csv
            let localDataSet;
        </script>
        
        <script src="{{ url_for('static', filename='functions/helpers.js') }}" defer></script>
        <script src="{{ url_for('static', filename='functions/data.js') }}" defer></script>
        <script src="{{ url_for('static', filename='functions/fetch.js') }}" defer></script>
        <script src="{{ url_for('static', filename='functions/create.js') }}" defer></script>
        <script src="{{ url_for('static', filename='functions/display.js') }}" defer></script>
        <script src="{{ url_for('static', filename='functions/events.js') }}" defer></script>
    </head>

    <body> 
        <div id="titles">
            <h2 id="mode" style="display: inline-block;">Normal</h2> 
            <h2 id="timeLabel" class="time">Time: <strong id="time" class="time" ></strong></h2>
            <div id="buttons">
                Switch:
                <button class="switchMode" onclick="changeSimulate('Normal')">Normal</button>
                <button class="switchMode" onclick="changeSimulate('Simulation')">Simulation</button>
                <button class="switchMode" onclick="changeSimulate('Simulate csv')">Simulate csv</button>
                <button class="switchMode" onclick="changeSimulate('Static')">Static</button>
            </div>
        </div>

        <div class="grid-container">
            
        </div>
        <h3 > Motor Error: <span id="motorError" style="color: red;"></span></h3>
    </body>

</html>