:root{
    --textSize: 2em;      /* CHANGE ! text Size for visualization  */
}




h1 span {
    font-size: 0.6em;
}

#titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time {
    color: rgb(1, 1, 138); 
    display: inline-block;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}
.visualization {
  display: inline-block;
  padding: 5px 15px;
  border: 1px dotted;
  overflow: hidden;

  flex: 0 0 calc(22% - 2%);
/*  width: calc(33.3% - 10px);  /* Adjust width or use percentages */
margin-bottom: 0.4%; /* Optional margin */
background-color: #f0f0f0; /* Just for visualization */
text-align: center; /* Optional */

}
.container {
    max-width: 100%; /* Container takes full width of the viewport */
    padding: 0 10px; /* Add padding to the sides */
    box-sizing: border-box; /* Include padding and border in the width */
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* To center the container itself on the page */ 
}
/*.container > div {
  float: middle;
}*/
.control {
    margin-right: 0px;
    
}

.rs-tooltip-text { /* text in roundSlider */
    font-size: var(--textSize) !important;
}

.numeric { /* text in numeric data */
    font-size: var(--textSize) !important;
    margin: 0em 0.2em;
}

output { /* for errors */
    font-size: var(--textSize) !important;
}



@media screen /*and (min-width: 450px)*/ and (max-width: 768px) { /* 768px for mobile phones */
    .visualization {
        flex: 0 0 calc(44% - 2%); /* Show 2 containers in each row for mobile */
        margin-right: 0; /* No right margin */
    }
    .container{
        height: 58px;
        width: 200px;
    }
    h2,
    h3 {
        margin: 0.1em 0em 0.5em;
    }
    h3 {
        font-size: 1.1em;
    }
}

/*@media screen and (max-width: 450px) {
    .visualization {
        flex: 0 0 100%; /* Full width for smaller screens */
/*        margin-right: 0; /* No right margin */
/*    }
    
    .container {
        width: 100%; /* Container takes full width of the viewport */
/*    }
    
    .control {
        margin-right: 10px; /* Adjust margin */
/*    }
}
*/