[Desktop Entry]
Type=Application
Exec=xterm -hold -e "bash -c 'sleep 1 && cd /home/nikolaospapa3/Documents/Oceanos/Telemetry/Monaco2024/Raspberry-Client-Host && python3 restart/restart_receive.py'"
Terminal=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Server
Name=Server
Comment[en_US]=
Comment=
