[Desktop Entry]
Type=Application
#Exec=ngrok start oceanos
# Exec=xterm -hold -e "bash -c ' cd /home/nikolaospapa3/Documents/Oceanos/Telemetry/Monaco2024/Raspberry-Client-Host && python3 restart/restart_tunnel.py'"
# use instead the following line if in raspberry pi 
Exec=xterm -hold -e "bash -c ' cd /home/oceanos/Monaco2024/Raspberry-Client-Host && python3 restart/restart_tunnel.py'"
Terminal=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=NGROK
Name=NGROK
Comment[en_US]=
Comment=
