[Desktop Entry]
Type=Application
Name=App
Exec=xterm -hold -e "bash -c 'sleep 2 && cd /home/nikolaospapa3/Documents/Oceanos/Telemetry/oceanos-visualization-2024 && python3 App.py'"
# use instead the following line if in rasberry py (ensure you have installed xterm - else try only the instruction inside )
# Exec=xterm -hold -e "bash -c 'sleep 1 && cd /home/oceanos/oceanos-visualization-2024 && python3 App.py'"
Terminal=true
