[Desktop Entry]
Type=Application
Name=App
Exec=xterm -hold -e "bash -c 'sleep 4 && cd /home/nikolaospapa3/Documents/Oceanos/Telemetry/oceanos-visualization-2024 && python3 App.py'"
Terminal=true
